# 서울시 공공자전거 대여소 정보 분석

- 대여소 정보 읽기
- 대여소 정보 확인
- NA 값이 몇개인지 확인 ==> NA 값이 들어있는 데이터 삭제
- 타입 변환 (대여소ID ==> int32, 기준시작일자 ==> 날짜타입) 
>- 기준시작일에 '개통'이라는 단어를 포함하고 있는 경우 '개통' 단어 삭제
- 대여소_구의 목록, 개수 출력
- 대여소_구별 거치대 수
- 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

## 대여소 정보 데이터 읽기

In [1]:
import pandas as pd
import numpy as np

In [144]:
data = pd.read_excel('서울특별시 공공자전거 대여소 정보(19.12.9).xlsx')
data.head()

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1541 non-null   object
 1   대여소ID   1540 non-null   float64
 2   대여소명    1541 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1541 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 96.4+ KB

## NA 값이 몇 개인지 확인

- NA값이 들어있는 데이터 삭제

In [145]:
data.isna()

      대여소_구  대여소ID   대여소명  대여소주소     위도     경도  기준시작일자   거치대수
0     False  False  False  False  False  False   False  False
1     False  False  False  False  False  False   False  False
2     False  False  False  False  False  False   False  False
3     False  False  False  False  False  False   False  False
4     False  False  False  False  False  False   False  False
...     ...    ...    ...    ...    ...    ...     ...    ...
1536  False  False  False  False  False  False   False  False
1537  False  False  False  False  False  False   False  False
1538  False  False  False  False  False  False   False  False
1539  False  False  False  False  False  False   False  False
1540  False   True  False   True   True   True    True  False

[1541 rows x 8 columns]

In [147]:
np.sum(data.isna())

대여소_구     0
대여소ID     1
대여소명      0
대여소주소     1
위도        1
경도        1
기준시작일자    1
거치대수      0
dtype: int64

In [148]:
data[data['대여소ID'].isna()]

     대여소_구  대여소ID  대여소명 대여소주소  위도  경도 기준시작일자   거치대수
1540    합계    NaN  1540   NaN NaN NaN    NaN  19545

In [149]:
data = data.dropna()

In [9]:
data

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464.0,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019.08.16,10
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10

## 타입 변환

- 대여소ID ==> int32
- 기준시작일자 ==> 날짜타입

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1541 non-null   object
 1   대여소ID   1540 non-null   float64
 2   대여소명    1541 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1541 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 96.4+ KB

In [158]:
data['대여소ID'] = data['대여소ID'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int32
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   datetime64[ns]
 7   거치대수    1540 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(3)
memory usage: 102.3+ KB

C:\Users\user\AppData\Local\Temp\ipykernel_9060\3081372801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['대여소ID'] = data['대여소ID'].astype(int)

In [151]:
data['기준시작일자'] = pd.to_datetime(data['기준시작일자'].replace('개통','',regex=True))
data['기준시작일자']

C:\Users\user\AppData\Local\Temp\ipykernel_9060\4251974589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['기준시작일자'] = pd.to_datetime(data['기준시작일자'].replace('개통','',regex=True))

0      2015-09-06 23:40:56
1      2015-09-06 23:42:06
2      2015-09-06 23:43:13
3      2015-09-06 23:44:31
4      2015-09-06 23:45:30
               ...
1535   2019-08-16 00:00:00
1536   2019-09-26 00:00:00
1537   2017-08-09 11:16:28
1538   2019-11-20 00:00:00
1539   2019-11-20 00:00:00
Name: 기준시작일자, Length: 1540, dtype: datetime64[ns]

In [ ]:
data['기준시작일자'].str.contains('개통') # 개통이 포함된지 확인

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int32
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   datetime64[ns]
 7   거치대수    1540 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(3)
memory usage: 102.3+ KB

## 이상

In [77]:
data2 = data.copy()

In [46]:
data2.iloc[1537]

대여소_구                         서초구
대여소ID                        2265
대여소명              2265. 이수고가차도 남단
대여소주소     서울특별시 서초구 동작대로 204 청남빌딩
위도                      37.494743
경도                     126.983063
기준시작일자        2017-08-09 11:16:28
거치대수                           10
Name: 1537, dtype: object

In [78]:
data2['기준시작일자'] = data2['기준시작일자'].astype(str)

In [36]:
data2.head()

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,NaN,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,NaN,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,NaN,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,NaN,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,NaN,5

In [79]:
data2['기준시작일자'] =pd.to_datetime(data2['기준시작일자'].str.replace('개통',''))
data2['기준시작일자']

0      2015-09-06 23:40:56
1      2015-09-06 23:42:06
2      2015-09-06 23:43:13
3      2015-09-06 23:44:31
4      2015-09-06 23:45:30
               ...
1536   2019-09-26 00:00:00
1537   2017-08-09 11:16:28
1538   2019-11-20 00:00:00
1539   2019-11-20 00:00:00
1540                   NaT
Name: 기준시작일자, Length: 1541, dtype: datetime64[ns]

In [41]:
data2['기준시작일자'] = data2['기준시작일자'].replace('개통','',regex=True)
data2['기준시작일자']

0       2015-09-06 23:40:56
1       2015-09-06 23:42:06
2       2015-09-06 23:43:13
3       2015-09-06 23:44:31
4       2015-09-06 23:45:30
               ...
1535             2019.08.16
1536             2019.09.26
1537    2017-08-09 11:16:28
1538             2019.11.20
1539             2019.11.20
Name: 기준시작일자, Length: 1540, dtype: object

## 대여소_구의 목록, 개수 출력

In [152]:
data

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019-08-16 00:00:00,10
1536,관악구,2185,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019-09-26 00:00:00,10
1537,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019-11-20 00:00:00,5
1539,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10

In [154]:
data['대여소_구'].value_counts()
data['대여소_구'].unique()

array(['마포구', '서대문구', '영등포구', '중구', '종로구', '광진구', '성동구', '동대문구', '양천구',
       '용산구', '은평구', '강동구', '강서구', '송파구', '성북구', '중랑구', '강북구', '노원구',
       '도봉구', '금천구', '구로구', '동작구', '관악구', '서초구', '강남구'], dtype=object)

## 대여소_구별 거치대 수

In [52]:
data

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019-08-16 00:00:00,10
1536,관악구,2185,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019-09-26 00:00:00,10
1537,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019-11-20 00:00:00,5
1539,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10

In [155]:
data[['대여소_구','거치대수']].groupby('대여소_구')[['거치대수']].sum()

       거치대수
대여소_구
강남구    1218
강동구     763
강북구     451
강서구    1002
관악구     640
광진구     841
구로구     788
금천구     560
노원구     879
도봉구     396
동대문구    659
동작구     501
마포구    1075
서대문구    667
서초구    1227
성동구     780
성북구     726
송파구    1298
양천구     677
영등포구   1250
용산구     538
은평구     716
종로구     784
중구      493
중랑구     616

## 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

In [142]:
data

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10
1540,합계,NaN,1540,NaN,NaN,NaN,NaN,19545

In [156]:
data.groupby('대여소_구')['거치대수'].agg(['sum','mean','max','mean']).sort_values('sum',ascending = False).head(10)

        sum       mean  max       mean
대여소_구
송파구    1298  13.111111   30  13.111111
영등포구   1250  14.044944   40  14.044944
서초구    1227  13.786517   25  13.786517
강남구    1218  12.303030   30  12.303030
마포구    1075  13.607595   40  13.607595
강서구    1002  11.788235   25  11.788235
노원구     879  12.926471   20  12.926471
광진구     841  14.254237   40  14.254237
구로구     788  12.312500   30  12.312500
종로구     784  11.529412   21  11.529412

In [157]:
data[['대여소_구','거치대수']].groupby('대여소_구')[['거치대수']].sum().sort_values('거치대수',ascending =False).head(10)

       거치대수
대여소_구
송파구    1298
영등포구   1250
서초구    1227
강남구    1218
마포구    1075
강서구    1002
노원구     879
광진구     841
구로구     788
종로구     784

# 서울시 공공자전거 대여 정보 분석
- 대여정보 읽기
    - encoding = 'cp949'
- 대여정보 확인 (결측치 컬럼 등)
- 대여일시, 반납일시를 날짜타입으로 변경
- 일자별로 대여 건수 내림차순으로 정렬하여 출력
    - Series객체.dt.날짜property
- 요일별 대여 건수 확인

## 대여 정보 데이터 읽기

In [81]:
gong = pd.read_csv('서울특별시 공공자전거 대여정보_201911_2.csv', encoding = 'cp949')

## 대여정보 확인

In [82]:
gong.head()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07,2377,수서역 5번출구 뒤,9,2019-11-28 23:18,1203,밀리아나2빌딩 앞,5,11,1980
1,SPB-23502,2019-11-28 22:43,2613,잠실나들목,3,2019-11-29 0:07,1203,밀리아나2빌딩 앞,1,82,11130
2,SPB-11498,2019-11-29 0:04,1256,문정현대아파트 교차로,6,2019-11-29 0:11,1203,밀리아나2빌딩 앞,14,6,800
3,SPB-16665,2019-11-29 0:02,1278,송파구청 교차로,9,2019-11-29 0:21,1203,밀리아나2빌딩 앞,2,18,3730
4,SPB-14688,2019-11-29 0:17,1230,송파중학교 정문,5,2019-11-29 0:26,1203,밀리아나2빌딩 앞,3,9,1370

In [83]:
gong.tail()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
678825,SPB-07983,2019-11-26 8:27,2183,동방1교,2,2019-11-26 9:31,99999,영남단말기정비,5,59,8520
678826,SPB-24906,2019-11-27 8:26,2141,미림여고입구 교차로,2,2019-11-27 9:26,99999,영남단말기정비,5,59,8680
678827,SPB-17861,2019-11-28 8:11,2183,동방1교,4,2019-11-28 8:54,99999,영남단말기정비,5,40,10570
678828,SPB-17173,2019-11-29 8:12,2183,동방1교,1,2019-11-29 9:17,99999,영남단말기정비,5,64,10560
678829,SPB-17714,2019-11-29 11:47,99999,영남단말기정비,5,2019-11-29 13:04,99999,영남단말기정비,5,76,2420

In [84]:
gong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678830 entries, 0 to 678829
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     678830 non-null  object
 1   대여일시      678830 non-null  object
 2   대여 대여소번호  678830 non-null  int64
 3   대여 대여소명   678830 non-null  object
 4   대여거치대     678830 non-null  int64
 5   반납일시      678830 non-null  object
 6   반납대여소번호   678830 non-null  int64
 7   반납대여소명    678830 non-null  object
 8   반납거치대     678830 non-null  int64
 9   이용시간      678830 non-null  int64
 10  이용거리      678830 non-null  int64
dtypes: int64(6), object(5)
memory usage: 57.0+ MB

## 대여일시, 반납일시를 날짜타입으로 변경

In [86]:
gong['대여일시'] = pd.to_datetime(gong['대여일시'])
gong['반납일시'] = pd.to_datetime(gong['반납일시'])
# pd.to_datetime(data['기준시작일자'].replace('개통','',regex=True)
gong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678830 entries, 0 to 678829
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     678830 non-null  object
 1   대여일시      678830 non-null  datetime64[ns]
 2   대여 대여소번호  678830 non-null  int64
 3   대여 대여소명   678830 non-null  object
 4   대여거치대     678830 non-null  int64
 5   반납일시      678830 non-null  datetime64[ns]
 6   반납대여소번호   678830 non-null  int64
 7   반납대여소명    678830 non-null  object
 8   반납거치대     678830 non-null  int64
 9   이용시간      678830 non-null  int64
 10  이용거리      678830 non-null  int64
dtypes: datetime64[ns](2), int64(6), object(3)
memory usage: 57.0+ MB

## 요일별 대여 건수 확인

In [90]:
gong.head()

gong['요일'] = gong['대여일시'].dt.day_name()

In [91]:
gong.head()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,요일
0,SPB-04392,2019-11-28 23:07:00,2377,수서역 5번출구 뒤,9,2019-11-28 23:18:00,1203,밀리아나2빌딩 앞,5,11,1980,Thursday
1,SPB-23502,2019-11-28 22:43:00,2613,잠실나들목,3,2019-11-29 00:07:00,1203,밀리아나2빌딩 앞,1,82,11130,Thursday
2,SPB-11498,2019-11-29 00:04:00,1256,문정현대아파트 교차로,6,2019-11-29 00:11:00,1203,밀리아나2빌딩 앞,14,6,800,Friday
3,SPB-16665,2019-11-29 00:02:00,1278,송파구청 교차로,9,2019-11-29 00:21:00,1203,밀리아나2빌딩 앞,2,18,3730,Friday
4,SPB-14688,2019-11-29 00:17:00,1230,송파중학교 정문,5,2019-11-29 00:26:00,1203,밀리아나2빌딩 앞,3,9,1370,Friday

In [119]:
gong.tail()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,요일,일자
678825,SPB-07983,2019-11-26 08:27:00,2183,동방1교,2,2019-11-26 09:31:00,99999,영남단말기정비,5,59,8520,Tuesday,0 11\n1 11\n2 11\n3 ...
678826,SPB-24906,2019-11-27 08:26:00,2141,미림여고입구 교차로,2,2019-11-27 09:26:00,99999,영남단말기정비,5,59,8680,Wednesday,0 11\n1 11\n2 11\n3 ...
678827,SPB-17861,2019-11-28 08:11:00,2183,동방1교,4,2019-11-28 08:54:00,99999,영남단말기정비,5,40,10570,Thursday,0 11\n1 11\n2 11\n3 ...
678828,SPB-17173,2019-11-29 08:12:00,2183,동방1교,1,2019-11-29 09:17:00,99999,영남단말기정비,5,64,10560,Friday,0 11\n1 11\n2 11\n3 ...
678829,SPB-17714,2019-11-29 11:47:00,99999,영남단말기정비,5,2019-11-29 13:04:00,99999,영남단말기정비,5,76,2420,Friday,0 11\n1 11\n2 11\n3 ...

In [102]:
gong.groupby('요일')[['대여일시']].count()

             대여일시
요일
Friday     113660
Monday      95045
Saturday   119574
Sunday      65686
Thursday    91159
Tuesday    104938
Wednesday   88768

## 일자별로 대여 건수 내림차순으로 정렬하여 출력

In [111]:
gong = gong.drop(['일자'], axis = 1)

In [125]:
gong['일자'] = gong['대여일시'].dt.day

In [126]:
gong.groupby('일자')[['대여일시']].count()

     대여일시
일자
1   33958
2   30848
3   30787
4   34711
5   34526
6   33234
7   30549
8   28918
9   27380
10  18537
11  25721
12  29970
13  17118
14  19662
15   6271
16  19907
17   5084
18  16037
19  17671
20  18117
21  20408
22  24758
23  23920
24  11278
25  18576
26  22771
27  20299
28  20540
29  19755
30  17519

# 대여소 정보와 대여정보 Join
- 대여소 정보와 대여정보 join
- join 데이터 정보 확인
- 각 구별 이용시간과  이용거리에 대한 평균, 최대, 최소값 출력

In [159]:
data.head()

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5

In [131]:
gong.head()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,요일,일자
0,SPB-04392,2019-11-28 23:07:00,2377,수서역 5번출구 뒤,9,2019-11-28 23:18:00,1203,밀리아나2빌딩 앞,5,11,1980,Thursday,28
1,SPB-23502,2019-11-28 22:43:00,2613,잠실나들목,3,2019-11-29 00:07:00,1203,밀리아나2빌딩 앞,1,82,11130,Thursday,28
2,SPB-11498,2019-11-29 00:04:00,1256,문정현대아파트 교차로,6,2019-11-29 00:11:00,1203,밀리아나2빌딩 앞,14,6,800,Friday,29
3,SPB-16665,2019-11-29 00:02:00,1278,송파구청 교차로,9,2019-11-29 00:21:00,1203,밀리아나2빌딩 앞,2,18,3730,Friday,29
4,SPB-14688,2019-11-29 00:17:00,1230,송파중학교 정문,5,2019-11-29 00:26:00,1203,밀리아나2빌딩 앞,3,9,1370,Friday,29

In [130]:
gong.columns

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간', '이용거리', '요일', '일자'],
      dtype='object')

## 대여소 ID 기준으로 두 데이터 병합

In [160]:
total = pd.merge(data, gong, left_on = '대여소ID', right_on= '대여 대여소번호')

In [161]:
total.head(5)

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수,자전거번호,대여일시,...,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,요일,일자
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-23976,2019-11-04 19:57:00,...,(구)합정동 주민센터,3,2019-11-04 21:21:00,1231,잠실역 6번출구,1,81,63150,Monday,4
1,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-08747,2019-11-02 01:50:00,...,(구)합정동 주민센터,5,2019-11-02 02:30:00,2016,신대방삼거리역 3번출구쪽,5,40,8920,Saturday,2
2,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-16380,2019-11-09 01:31:00,...,(구)합정동 주민센터,1,2019-11-09 02:14:00,2016,신대방삼거리역 3번출구쪽,5,42,8890,Saturday,9
3,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-15723,2019-11-16 01:51:00,...,(구)합정동 주민센터,1,2019-11-16 02:28:00,2016,신대방삼거리역 3번출구쪽,6,36,8850,Saturday,16
4,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-20417,2019-11-09 20:28:00,...,(구)합정동 주민센터,1,2019-11-09 22:12:00,2113,관악동작견인차량보관소,7,98,13120,Saturday,9

In [162]:
total.columns

Index(['대여소_구', '대여소ID', '대여소명', '대여소주소', '위도', '경도', '기준시작일자', '거치대수',
       '자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간', '이용거리', '요일', '일자'],
      dtype='object')

## 구별 평균 이용시간, 평균 이용거리, 최대 이용시간, 최소 이용시간 확인 (구 이름 정렬)

In [163]:
total.groupby('대여소_구')[['이용시간','이용거리']].agg(['mean','max','min'])

            이용시간                   이용거리
            mean   max min         mean     max min
대여소_구
강남구    23.382298   740   1  3193.727233  100980   0
강동구    26.260650   237   1  4128.647530   71170   0
강북구    19.494643   772   1  2541.262305  111530   0
강서구    17.299746   383   1  3037.660029  129700   0
관악구    20.469692   666   1  2929.804723  185110   0
광진구    21.522678  1000   1  2884.606619  172320   0
구로구    19.570479   969   1  2691.200561  155830   0
금천구    19.544569   370   1  2769.887676   95250   0
노원구    20.382049  1719   1  2661.159418   79820   0
도봉구    20.758714   701   1  2883.359794   81020   0
동대문구   22.714575   518   1  3604.658298  129460   0
동작구    22.934526  1282   1  3150.196766  146850   0
마포구    44.869336   249   2  8621.309039   80800   0
서대문구   31.755382   316   1  4803.547582  125410   0
서초구    22.452883   476   1  3059.817962  110390   0
성동구    31.316633   919   1  4723.099450  126270   0
성북구    18.888129  1025   1  2516.085702  102500   0
송파구    22.488512  1106   1  2802.381620  109570   0
양천구    29.650766   236   1  5360.720915   81170   0
영등포구   31.721189   556   1  5330.747505  116390   0
용산구    41.099339   777   5  6910.704033   97090   0
은평구    45.856749   218   2  8899.338843   81870   0
종로구    28.761135   306   1  4516.685792   79210   0
중구     37.877796  1066   2  6526.280761   81620   0
중랑구    18.764389   636   1  2591.262076   98120   0